.cart {
    overflow: auto;
    max-height: 400px;
}
.cart-outer{
    position: fixed;
    z-index: 2;
    right: 1rem;
    top: 4rem;
    background-color: #b9cde269;
    border: 1px solid #34383c;
    border-radius: .3rem;
    width: 200px;
    text-align: center;
}